---
import { Picture } from 'astro:assets';
import img from '~/assets/logo.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="关于 - 克喵" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="mountains"
	/>
	<h2>Hello,I am<a href="https://blog-v8.kemeow.top/" target="_blank">克喵爱吃卤面</a>.</h2>
	<p>
		我是在南京上学的一个双非二本牛马，自动化专业，信奉摆烂主义，卷狗nb，带带我😍。
	</p>
	<p>
		在<strong>2023年</strong>开始接触<code>逆向</code>，起因被逆天的PU校园恶心，在小绿书留了下来，
		结果后来小编不当人，瞎封人号，于是转战Telegram，搭建了自己的<a href="https://t.me/kemiaofx_me">频道</a>，开始分享资源，感谢<a href="https://t.me/txwl666">大佬</a>的想法分享。
	</p>
	<p>
		在<strong>2024年11月</strong>，我在逛频道的时候，接触到了我部署过的第一个<a href="https://github.com/ccbikai/BroadcastChannel">博客</a>，我正式踏入博客圈。
	</p>
	<p>
		从那以后，我陆续接触了各种框架: Hexo、hugo、astro、vuepress、vitepress等等静态博客，也使用了wordpress、typecho两种动态博客，但我更偏使用静态博客，
		我不是很有精力去经营一个动态博客。
	</p>
	<p>
		然后在这周(五月最后一周)来搭建这个博客，感谢<a href="https://github.com/ladit/astro-blog-zozo" >主题</a>开源。
	</p>
</MarkdownLayout>
