---
import { Picture } from 'astro:assets';
import img from '~/assets/kemiao.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="kemiao" loading="eager" />
		<div>
			<h1>Hello there! I am 克喵爱吃卤面.👋</h1>
			<p>
				这是基于<a href="https://astro.build">Astro</a>的博客，主题是<a href="https://github.com/ladit/astro-blog-zozo">astro-blog-zozo</a>。
				克喵在这个博客发布一些资源分享、踩坑教程和生活记录。
			</p>
			<ul class="list-disc">
				<li>
					支持开源精神，开源项目分享居多，不修改所分享的东西，尽可能去筛选出危险资源。
				</li>
				<li>
					分享的大部分是个人认为好用的软件、网站和项目，想让我找资源的可以在上方的social部分联系，不保证找到，看到会回。
				</li>
				<li>
					如果我分享的资源侵犯了您的权益，建议直接在GitHub仓库的<a href="https://github.com/Kemeow815/kemiaofx/issues">issue</a>提出和<a href="mailto:me@kemiaosw.top">邮箱</a>找我，看到会删。
				</li>
				<li>您有什么想分享的资源可以通过上述链接告诉我，也可以通过TG的<a href="https://t.me/kemiaotougao_bot">机器人</a>找<strong>我</strong></li>
				<li>
					本博客的主题来源于<a href="https://github.com/ladit/astro-blog-zozo">astro-blog-zozo</a>，感谢作者开源；友链页为<code>AI</code>生成。
				</li>
				<li>以下就是克喵部署的<a href="https://github.com/Kemeow815/kemiao-s-links">网站仓库</a>，你可以在这里找到克喵部署的大部分博客（基本静态），你可以看看有什么你需要的。</li>
				<li>本博客所有图片来源于以下四个地方：1.GitHub图床(半废弃)；2.sm.ms图床(不再使用)；3.本地链接(/img/xxx.png)；4.123云盘图床。</li>
				<li>评论部分是<a href="https://github.com/giscus/giscus">giscus</a>，可以在仓库的<a href="https://github.com/Kemeow815/kemiao-astro-blog-zozo/discussions"><strong>discussions</strong></a>里找到。</li>
				<li>您可以在RSS阅读平台如<a href="https://app.follow.is/"><strong>Folo</strong></a>里添加<a href="https://blog-v8.kemeow.top/rss.xml">RSS</a>来订阅克喵的最新文章~</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
